body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Register Form Styling */
  
  .reg_form{
      margin: auto;
      width: 30%;
      margin-top: 5%;
  }
  
  form{
      width: 10%;
      font-size: 30px;
  }
  
  .reg_form input{
      border: 2px solid rgba(0, 0, 0, 0.253);
      border-radius: 5px;
      height: 40px;
      width: 25rem;
      margin-bottom: 30px;
      font-size: 25px;
  }
  
  .reg_form button{
      margin-left: 130px;
      height: 40px;
      width: 10rem;
      font-size: 20px;
  }
  